venv/
__pycache__/
*.pyc
db.sqlite3
.env
staticfiles/
New Web Service · Render Dashboard.html
New Web Service · Render Dashboard_files/

New Web Service · Render Dashboard.html
New Web Service · Render Dashboard_files/
django-server.log
New Web Service*
*.log
New Web Service*
*.log
