{% extends "hub/base.html" %}

{% block content %}

<section class="about-page">

    <div class="about-content">

        <span class="about-tag">ABOUT EXPERIENCE HUB</span>

        <h1>
            More Than <span>Events.</span>
        </h1>

        <p>
            Experience Hub is a premium platform created to connect people
            with unforgettable events, unique experiences, professional talent
            and lifestyle opportunities.
        </p>

        <p>
            Discover something new, celebrate special moments and experience
            more with Experience Hub.
        </p>

        <a href="{% url 'events' %}" class="btn">
            Explore Events
        </a>

    </div>

</section>

{% endblock %}