{% extends 'hub/base.html' %}
{% load static %}

{% block content %}

<section class="home-hero">

    <div class="home-hero-content">

        <h1>
            Experience <span>Unforgettable</span>
            <br>
            <span>Events</span>
        </h1>

        <p>
            Discover exciting events, unique experiences, and unforgettable moments
            created for people who love to connect, celebrate, and experience more.
        </p>

        <div class="hero-buttons">

            <a href="{% url 'events' %}" class="btn">
                Explore Events
            </a>

            <a href="{% url 'booking' %}" class="btn-outline">
                Book Now
            </a>

        </div>

    </div>

</section>

{% endblock %}